.project{
    position: relative;
    background-color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    // transition: all 1s ease;
    div{
        position: relative;
        display: flex;
        border-bottom: 1px solid whitesmoke;
        align-items: center;
        height: 30%;
        // background-color: crimson;
        span{
            position: relative;
            // left: 3rem;
            display: flex;
            font-family: 'Poppins',sans-serif;
            color: rgb(190, 188, 188);
            // color: white;
            font-size: 100px;
        }
    }
    .info{
        display: flex;
        position: absolute;
        top: 0;
        left: 25%;
        width: 50%;
        height: 60%;
        display: none;
        background-color: pink;
    }
}
.active{
    // background-color: #10100f;
    background-color: black;
}