.portfolio {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.portfolio .container {
  border: 1px solid black;
  height: 95%;
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
}

.portfolio .container .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1.5;
      -ms-flex: 1.5;
          flex: 1.5;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

.portfolio .container .top h3 {
  font-size: 56px;
  color: black;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
}

.portfolio .container .top .line {
  background-color: #15023a;
  height: 1px;
  width: 80%;
  opacity: 0.5;
}

.portfolio .container .about {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 12;
      -ms-flex: 12;
          flex: 12;
}

.portfolio .container .about .aboutContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  -webkit-box-flex: 8;
      -ms-flex: 8;
          flex: 8;
}

.portfolio .container .about .aboutContainer .dec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 14;
      -ms-flex: 14;
          flex: 14;
}

.portfolio .container .about .aboutContainer .tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  gap: 1rem;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.portfolio .container .about .aboutContainer .tags img {
  width: 24px;
}

.portfolio .container .about .skills {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.portfolio .container .about .skills .techStack {
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: .5rem;
}

.portfolio .container .about .skills .techStack h4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: .5rem;
}

.portfolio .container .about .skills .techStack h4 img {
  width: 25px;
}

.portfolio .container .about .skills .techStack h4 span {
  font-size: 22px;
  font-weight: 500;
}

.portfolio .container .about .skills .techStack .techContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  gap: .5rem;
}

.portfolio .container .about .skills .techStack .techContainer span {
  margin: 2px;
  padding: 7px;
  border: 1px solid black;
  border-radius: 5px;
}

.portfolio .container .about .skills .exp {
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
}

.portfolio .container .about .skills .exp .techStack img {
  width: 22px;
}
/*# sourceMappingURL=portfolio.css.map */