.intro{
    position: relative;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;

    .container{
        position: relative;
        display: flex;
        // flex-direction:row-reverse;
        // justify-content:space-between;
        align-items: center;
        height: 95%;
        width: 95%;
        overflow: hidden;
       
        .lottie{
            position: relative;
            // left: 5rem;
            // z-index: -1;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            justify-content: center;
            align-items: center;
            // z-index: 1;
            // border: 1px solid black;
            .nameText{
                position: relative;
                right: 17rem;
                z-index: 3;
                // letter-spacing: 2rem;
                color: #15023a;
                font-family: 'Poppins',sans-serif;
                font-size: 3rem;
                font-weight: 700;
            }
            
        }
        span{
            // border: 1px solid black;
            display: flex;
            align-items: center;
            flex-direction: column;
            text-align: center;
            position: relative;
            right: 3rem;
            .nameText{
                position: relative;
                right: 2rem;
                z-index: 3;
                // letter-spacing: 2rem;
                color: #15023a;
                font-family: 'Poppins',sans-serif;
                font-size: 3rem;
                font-weight: 700;
                // letter-spacing: .5rem;
            }
            h1{
                // letter-spacing: .5rem;
                font-family: 'Poppins',sans-serif;
                color: crimson;
                font-size: 20px;
                font-weight: 600;
            }
        }

    }

    .line-1{
        position: relative;
        // right: 1%;
        left: 1%;
        bottom:5%;
        background-color: black;
        height: 80%;
        width: 2px;
        opacity: 0.5;
    }
    .line-2{
        position: relative;
        top: 30%;
        background-color: black;
        height: 30%;
        width: 2px;
        opacity: 0.5;
    }
}