@import "../../global.scss";

.intro{
    background-color: white;
    color: $mainColor;
    display: flex;
    overflow-y: hidden;
    .line-icon{
        display: flex;
        flex-direction: column;
        // justify-content: center;
        align-items: center;
        gap: 4rem;
        position: relative;
        left: 1%;
        @include mobile{
            display: none;
        }
        .line1{
            // position: relative;
            height: 80%;
            width: 2px;
            // width: 50%;
            background-color: $mainColor;
            // opacity: 0.6;
        }
        img{
            width: 30px;
        }
    }

    .line2{
        position: relative;
        top: 75%;
        right: 2%;
        height: 20%;
        width: 1px;
        // opacity: 0.6;
        // width: 50%;
        background-color: $mainColor;
        @include mobile{
            display: none;
        }
    }
    
    @include mobile{
        // display: none;
        // display: block;
        // display: inline;
        flex-direction: column;
        // align-items: center;
    }

    .left{
        // border: 1px solid black;
        position: relative;
        flex:0.5;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;

        @include mobile{
            flex: 3;
            // height: 100%;
            // position: relative;
            // top: 50%;

        }

        // .imgContainer{
        //     width: 700px;
        //     height: 700px;
        //     // background-color: rgb(220, 20, 60);
        //     background-color: $mainColor;
        //     display: flex;
        //     border-radius: 50%;
        //     align-items: flex-end;
        //     justify-content: center;
        //     float: right;
        // }
        // img{
        //    left: 20%; 
        //    top:10%; 
        //    position: absolute;
        //     height: 90%;
        // }
    }

    .right{
        // background-color: pink;
        flex:0.5;
        position: relative;
        @include mobile{

            position: relative;
            bottom: 50%;
        }

        .wrapper{
            // background-color: pink;
            width: 100%;
            height: 100%;
            // padding-left: 50px;
            display: flex;
            flex-direction: column;
            justify-content: center;

            @include mobile{
                position: relative;
                // bottom: 80%;
                align-items: center;
            }
            
            span{
                display: inline-block;
            }
            
            h1{
                // font-family: 'Poppins',sans-serif;
                // letter-spacing: 5px;
                font-size: 80px;
                font-weight: 500;
                // background-color: crimson;
                @include mobile{
                    font-weight: 500;
                    // margin: 10px 0;
                    font-size: 50px;
                }
            }
            h2{
                // color: crimson;
                position: relative;
                left: 2px;
                font-weight: 300;
                font-size: 30px;
                @include mobile{

                    font-size: 30px;
                }
            }
            h3{
                position: relative;
                left: 2px;
                font-size: 30px;
                display: flex;
                @include mobile{
                    font-size: 20px;
                }
                .op{
                    opacity:0;
                }
                span{
                    color: #dc143c;
                    // color: $mainColor;
                }
            }

        }
        a{
            position: absolute;
            bottom: 10px;
            left: 40%;

            @include mobile{
                display: none;
                // bottom: 100px;
                // z-index: 3;
            }

            img{
                width: 30px;
                animation: arrowBlink 2s infinite;
            }

            @keyframes arrowBlink {
                100%{
                    opacity: 0;
                }
            }
        }
    }
}